@import "../../styles/variables";
@import "../../styles/base/mixins";

.header {
  display: flex;
  align-items: center;
  padding-left: 93px;
  height: 95px;
  flex-shrink: 0;
  gap: 173px;
  background-color: $col-white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.03);
  &[data-page="home"] {
    background-color: transparent;
    position: absolute;
    left: 0px;
    right: 0px;
    @include z-index(overlay);
  }
  @include respond(mobile-screen) {
    padding: 0px 31px;
  }
  &__logo {
    &-wrapper {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &-name {
      font-family: "Segoe UI", sans-serif;
      font-size: 17px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      text-transform: capitalize;
      color: #4a4a4a;

      & span {
        color: #219653;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
  &__link {
    &[data-page="default"] {
      & a {
        color: #4a4a4a;
      }
    }
    &-wrapper {
      display: flex;
      gap: 47px;
      @include respond(mobile-screen) {
        display: none;
      }
    }
    &-dropdown {
      background-color: $col-white;
      display: flex;
      flex-direction: column;
      gap: 19px;
      padding: 31px 40px;
      @include border-radius(16px);
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.07);
      &-list {
        & a {
          color: $col-dark-1;
          & div {
            display: none;
          }
        }
        &-item {
          color: $col-dark-1;
          font-size: 13px;
          font-weight: 400;
        }
      }
      &-wrapper {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
      }
      &-container {
        display: none;
        height: fit-content;
        width: fit-content;
        position: absolute;
        top: 31px;
        transform: translateX(-30%);
        @include z-index(overlay);
        &[data-toggle="true"] {
          display: block;
        }
      }
      &-name {
        font-family: "Segoe UI", sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        color: $col-white;
        &[data-page="default"] {
          color: #4a4a4a;
        }
      }
    }
  }
  &__mobile-link {
    &-wrapper {
      display: none;
      @include respond(mobile-screen) {
        display: flex;
        position: absolute;
        right: 10px;
      }
    }
  }
}
