@import "../../../styles/functions";
@import "../../../styles/typography";
@import "../../../styles/variables";
@import "../../../styles/base/mixins";

.blog-card {
  display: flex;
  flex-direction: column;
  margin-right: 35px;
  @include respond(mobile-screen) {
    margin-right: 0px;
  }
  &__image {
    position: relative;
    width: 100%;
    height: 350px;
    flex-shrink: 0;
    & img {
      border-radius: 45px;
    }
    @include respond(mobile-screen) {
      height: 230px;
      & img {
        border-radius: 20px;
      }
    }
  }
  &__title {
    color: $col-grey-7;
    font-size: toRem(24px);
    font-weight: 700;
    margin-top: 32px;
    @include respond(mobile-screen) {
      margin-top: 20px;
    }
  }
  &__date-created {
    color: #868686;
    font-size: toRem(14px);
    font-weight: 700;
    font-style: normal;
    margin-top: 14px;
    @include respond(mobile-screen) {
      font-size: 12px;
      color: $col-dark-7;
    }
  }
  &__description {
    color: #868686;
    font-size: toRem(16px);
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.08px;
    margin-top: 16px;
    @include respond(mobile-screen) {
      font-size: 14px;
      text-align: justify;
      margin-top: 14px;
      color: $col-dark-7;
    }
  }
}
