@import "../../styles/variables";
@import "../../styles/functions.scss";
@import "../../styles/base/mixins";
@import "../../styles/typography";

.newsletter {
  height: 85vh;
  display: flex;
  flex-direction: column;
  gap: 44px;
  padding: 0px 95px;
  @include respond(mobile-screen) {
    @include heading-mobile;
    padding: 0px 6% 30px 6%;
    gap: 20px;
    height: initial;
  }
  &__heading {
    @include heading;
    @include respond(mobile-screen) {
      @include heading-mobile;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 29px;
    width: 35%;
    @include respond(mobile-screen) {
      width: 100%;
    }
    &--success {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    &-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35%;
      @include respond(mobile-screen) {
        & span {
          & svg {
            width: 156px;
            height: 131px;
          }
        }
      }
    }
    &-wrapper {
      height: 356px;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 100px;
      background-color: $col-blue-2;
      @include border-radius(39px);
      @include respond(mobile-screen) {
        background-color: initial;
        flex-direction: column;
        gap: 20px;
      }
    }
    &-heading {
      @include h3;
      font-weight: 500;
      @include respond(mobile-screen) {
        display: none;
      }
    }
    &-input {
      width: 100%;
      display: flex;
      padding: 7px 14px;
      align-items: center;
      gap: 12px;
      flex: 1 0 0;
      font-size: 14px;
      background-color: initial;
      border: 1px solid #dbdade;
      @include border-radius(6px);
      &-label {
        color: $col-dark-6;
        font-size: toRem(13px);
        font-weight: 400;
        @include respond(mobile-screen) {
          height: 20px;
        }
        & span {
          color: $col-red-1;
        }
      }
      &-wrapper {
        @include respond(mobile-screen) {
          display: flex;
          flex-direction: column;
          gap: 30px;
        }
      }
    }
    &-button {
      @include respond(mobile-screen) {
        align-self: center;
      }
    }
  }
}
