@import "../../../styles/variables";
@import "../../../styles/functions.scss";
@import "../../../styles/base/mixins";
@import "../../../styles/typography";

.sermon {
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 33px;
    & ul {
      display: flex;
      gap: 25px;
    }
  }
}
