@import "../../styles/variables";
@import "../../styles/functions.scss";
@import "../../styles/base/mixins";
@import "../../styles/typography";

.faq {
  height: 90vh;
  display: flex;
  flex-direction: column;
  padding: 0px 95px;
  gap: 32px;
  @include respond(mobile-screen) {
    height: fit-content;
    padding: 0px 6% 50px 6%;
  }

  &__heading {
    @include heading;
    @include respond(mobile-screen) {
      @include heading-mobile;
    }
  }
  &__image {
    width: 50%;
    position: relative;
    @include respond(mobile-screen) {
      display: none;
    }
    &-icon {
      position: absolute;
      top: 16%;
      left: 62%;
    }
  }

  &__content {
    &-wrapper {
      display: flex;
      gap: 35px;
    }
  }
  &__accordion-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include respond(mobile-screen) {
      width: 100%;
      gap: 44px;
    }
  }
}
