@import "../../styles/variables";
@import "../../styles/functions.scss";
@import "../../styles/base/mixins";
@import "../../styles/typography";

.songs {
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 65px;
  padding: 0px 95px;
  @include respond(mobile-screen) {
    height: auto;
    padding: 45px 0px;
    gap: 31px;
  }
  &__heading {
    @include heading;
    @include respond(mobile-screen) {
      display: none;
    }
    &-mobile {
      display: none;
      @include respond(mobile-screen) {
        display: block;
        @include heading-mobile;
      }
    }
    &-wrapper {
      display: flex;
      align-items: flex-end;
      gap: 24px;
      padding-left: 21px;
      @include respond(mobile-screen) {
        flex-direction: column;
        align-items: initial;
        gap: 0px;
        padding-left: calc(6%);
      }
    }
  }
  &__subheading {
    font-size: toRem(32px);
    font-style: normal;
    font-weight: 500;
    & span {
      color: $col-green-1;
      font-weight: 700;
    }
    @include respond(mobile-screen) {
      font-size: toRem(24px);
    }
  }
  &__song {
    height: 281px;
    @include border-radius(13px);
    @include respond(mobile-screen) {
      width: 100% !important;
    }
    &-carousel {
      &-wrapper {
        width: 88%;
        @include respond(mobile-screen) {
          width: 100%;
        }
      }
    }
    &-loader-wrapper {
      display: flex;
      gap: 20px;
      overflow: hidden;
      @include respond(mobile-screen) {
        width: 100%;
      }
    }
  }
  &__wave-icon {
    position: absolute;
    width: 82vw;
    z-index: -1;
    & span {
      & svg {
        width: 100%;
      }
    }
    @include respond(mobile-screen) {
      display: none;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
  }
}
