@import "../../styles/functions";
@import "../../styles/variables";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  flex-shrink: 0;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  @include border-radius(8px);
  &[data-size="small"] {
    height: 38px;
    font-size: 13px;
    padding: 9px 38px;
  }
  &[data-size="medium"] {
    height: 46px;
    font-size: 14px;
    padding: 18px 43px;
  }
  &[data-variant="primary"] {
    background-color: $col-green-1;
    color: $col-white;
  }
  &[data-variant="secondary"] {
    border: 1px solid $col-green-1;
    color: $col-green-1;
  }
}
