@import "../../../styles/variables";
@import "../../../styles/functions.scss";
@import "../../../styles/base/mixins";
@import "../../../styles/typography";

.modal {
  display: flex;
  flex-direction: column;
  gap: 31px;
  width: 687px;
  height: 427px;
  padding: 67px;
  background-color: $col-white;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.07);
  @include border-radius(20px);
  @include respond(mobile-screen) {
    width: 95%;
    padding: 30px;
    height: 53%;
  }

  &__header {
    &-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &-button {
      color: #585858;
      font-size: toRem(13px);
      font-weight: 500;
      padding: 10px 20px;
      white-space: nowrap;
      @include border-radius(6px);
      &[data-active="true"] {
        background-color: $col-green-1;
        color: $col-white;
      }
      @include respond(mobile-screen) {
        font-size: 11px;
      }
    }
  }

  &__content {
    &-container {
      display: flex;
      flex-direction: column;
      gap: 36px;
    }
    &-details {
      &-wrapper {
        display: flex;
        flex-direction: column;
        gap: 6px;
      }
      &-heading {
        color: #575555;
        text-align: justify;
        font-size: toRem(14px);
        font-weight: 700;
      }
      &-description {
        color: #404040;
        text-align: justify;
        font-size: toRem(14px);
        font-weight: 400;
      }
    }
    &-coming-soon {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-heading {
        font-size: toRem(30px);
        color: #4a4a4a;
        font-weight: 500;
        @include respond(mobile-screen) {
          font-size: 20px;
        }
      }
    }
  }
}
