@import "../../styles/variables";
@import "../../styles/base/mixins";

.home {
  background-image: url("/images/worshipImage_2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  @include respond(mobile-screen) {
    overflow-x: hidden;
    background-position: 50%;
  }
  &__content {
    &-wrapper {
      margin-top: calc(16vh);
      margin-left: calc(4vw);
      display: flex;
      align-items: center;
      @include respond(mobile-screen) {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: initial;
        margin-left: initial;
        align-items: flex-start;
      }
    }
    &-cross-icon {
      @include respond(mobile-screen) {
        position: absolute;
        z-index: 0;
        left: -25%;
      }
    }
    &-container {
      width: 670px;
      @include respond(mobile-screen) {
        width: 85%;
        z-index: 1;
        padding-left: calc(6%);
      }
    }
    &-worship-icon {
      & span {
        & svg {
          @include respond(mobile-screen) {
            width: 100%;
          }
        }
      }
    }
    &-heading {
      color: $col-white;
      font-size: 56px;
      font-style: normal;
      font-weight: 600;
      line-height: 64px;
      letter-spacing: -1px;
      @include respond(mobile-screen) {
        font-size: 32px;
        line-height: 44px;
      }
    }
    &-text {
      color: $col-white-2;
      text-align: justify;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
      margin-top: 14px;
      @include respond(mobile-screen) {
        line-height: 20px;
        font-size: 13px;
        margin-top: 30px;
      }
    }
    &-mouse-animation {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 42px;
    }
  }
}
