@import "../../styles/variables";
@import "../../styles/functions.scss";
@import "../../styles/base/mixins";
@import "../../styles/typography";

.prayer {
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 0px 95px;
  @include respond(mobile-screen) {
    height: initial;
    padding: 30px 6% 50px 6%;
  }

  &__heading {
    @include h2;
    @include respond(mobile-screen) {
      font-size: toRem(20px);
      font-weight: 500;
    }
    &-mobile {
      display: none;
      @include respond(mobile-screen) {
        display: block;
        @include heading-mobile;
      }
    }
    &-wrapper {
      display: flex;
      flex-direction: column;
    }
    &-description {
      @include description;
      width: 65%;
      @include respond(mobile-screen) {
        width: 100%;
      }
    }
  }
  &__form {
    height: 407px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 51px;
    padding: 19px 20px;
    background-color: $col-blue-1;
    @include border-radius(26px);
    @include respond(mobile-screen) {
      height: fit-content;
      padding: 0px;
      background-color: initial;
    }
    &-wrapper {
      display: flex;
      align-items: center;
      gap: 80px;
    }
    &-heading {
      @include heading-vertical;
      @include respond(mobile-screen) {
        display: none;
      }
    }
    &-image {
      height: 100%;
      width: 40%;
      position: relative;
      @include respond(mobile-screen) {
        display: none;
      }
      &-mobile {
        height: 159px;
        width: 100%;
        position: relative;
        display: none;
        margin: 27px 0px;
        & img {
          border-radius: 13px;
        }
        @include respond(mobile-screen) {
          display: block;
        }
      }
    }
    &-content-wrapper {
      width: 50%;
      @include respond(mobile-screen) {
        width: 100%;
      }
    }
    &-success {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      &-heading {
        color: $col-dark-3;
        @include h3;
        font-weight: 500;
        @include respond(mobile-screen) {
          font-size: toRem(18px);
        }
      }
      &-icon {
        & span {
          & svg {
            width: 80px;
            height: 80px;
          }
        }
      }
    }
  }
}
