@use "sass:math";

$Montserrat: Montserrat;

$z-index: (
  fill-page: 60,
  modal: 50,
  dropdown-menu: 40,
  navigation: 30,
  underlay: 20,
  overlay: 10,
  normal: 5,
  behind: -1,
);

@function z-index($key) {
  @return map-get($z-index, $key);
}

@mixin z-index($key) {
  z-index: z-index($key);
}

@mixin position-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin position-fixed-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Responsive
@mixin respond($breakpoint) {
  @if ($breakpoint == mobile-screen) {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }

  @if ($breakpoint == tablet-screen) {
    @media (min-width: 768px) and (max-width: 1200px) {
      @content;
    }
  }

  @if ($breakpoint == responsive) {
    @media only screen and (max-width: 1024px) {
      @content;
    }
  }
}

@mixin border-radius($pixel...) {
  border-radius: $pixel;
  -webkit-border-radius: $pixel;
  -moz-border-radius: $pixel;
  -ms-border-radius: $pixel;
  -o-border-radius: $pixel;
}

@mixin filter($value) {
  filter: $value();
  -webkit-filter: $value();
}

@mixin transition {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

@mixin hide-scrollbar {
  &::-webkit-scrollbar {
    width: 0em;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    height: 1rem;
    width: 0.4rem;
  }

  &::-webkit-scrollbar-thumb {
    --tw-border-opacity: 1;
    background-color: rgba(244, 131, 34, 0.8);
    border-color: rgba(244, 131, 34, 0.8);
    border-radius: 9999px;
    border-width: 1px;
    border: 4px solid transparent;

    &:hover {
      background-color: rgba(244, 131, 34, 1);
    }
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 9999px;
  }
}

@mixin custom-scrollbar-thin {
  &::-webkit-scrollbar {
    height: 1rem;
    width: 0.3rem;
  }

  &::-webkit-scrollbar-thumb {
    --tw-border-opacity: 1;
    background-color: rgba(84, 95, 125, 0.5);
    border-color: rgba(84, 95, 125, 0.5);
    border-radius: 9999px;
    border-width: 1px;
    border: 4px solid transparent;

    &:hover {
      background-color: rgba(84, 95, 125, 0.5);
    }
  }

  &::-webkit-scrollbar-track {
    background-color: #d9d9d9;
    border-radius: 9999px;
  }
}

@mixin skeleton-loader {
  background: linear-gradient(90deg, #f0f0f0, #e0e0e0, #f0f0f0);
  background-size: 200% 100%;

  animation: shimmer 4s infinite linear;

  @keyframes shimmer {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
}
