@import "../../styles/variables";
@import "../../styles/base/mixins";

:root {
  font-size: 1rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  font-family: $Montserrat;
  overflow-x: hidden !important;
  /* 2 */
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $Montserrat;
  overflow-x: hidden;
}

main {
  display: block;
}

a {
  background-color: transparent;
  text-decoration: none;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

img {
  border-style: none;
  display: block;
  border: none;
  outline: none;
  max-width: 100%;
  height: auto;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  outline: none;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -wwebkit-appearance: button;
  appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"],
[type="date"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  appearance: textfield;
  outline-offset: -2px;

  &::-webkit-search-cancel-button {
    /* Remove default */
    -webkit-appearance: none;
  }
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[hidden] {
  display: none;
}

input:-internal-autofill-selected {
  background-color: initial !important;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

p {
  font-family: $Montserrat;
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: $Montserrat;
}

/* Remove list styles on ul, ol */
ul,
ol,
li {
  list-style: none;
  padding: 0;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

button:focus,
button:hover {
  outline: none;
}

//scrollbar
@-moz-document url-prefix() {
  body {
    scrollbar-width: thin !important;
    scrollbar-color: #39cdcc #d9d9d9;
  }
}

// ::-webkit-scrollbar {
//   width: toRem(3px);
// }

::-webkit-scrollbar-track {
  background-color: #d9d9d9;
}

::-webkit-scrollbar-thumb {
  height: 42px;
  background-color: #39cdcc;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 0px;
  height: 0px;
  background-color: transparent;
}

::-webkit-scrollbar-track:horizontal {
  background-color: transparent;
}

::-webkit-scrollbar:horizontal {
  width: 0px;
}
