@import "../../styles/variables";
@import "../../styles/functions.scss";
@import "../../styles/base/mixins";
@import "../../styles/typography";

.testimonies {
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 0px 95px;
  @include respond(mobile-screen) {
    gap: 26px;
    height: fit-content;
    padding: 0px 6% 45px 6%;
  }
  &__heading {
    @include heading;
    @include respond(mobile-screen) {
      @include heading-mobile;
      font-size: toRem(45px);
    }
    &-container {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      @include respond(mobile-screen) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
  &__subheading {
    font-size: toRem(32px);
    font-style: normal;
    font-weight: 500;
    & span {
      color: $col-green-1;
      font-weight: 700;
    }
    @include respond(mobile-screen) {
      font-size: toRem(24px);
    }
  }
  &__description {
    @include description;
    width: 70%;
    @include respond(mobile-screen) {
      width: 100%;
    }
    &-container {
      display: flex;
      align-items: center;
      gap: 70px;
      @include respond(mobile-screen) {
        flex-direction: column;
      }
    }
    &-button {
      @include respond(mobile-screen) {
        display: none;
      }
    }
  }
  &__carousel-loader {
    &-wrapper {
      display: flex;
      gap: 20px;
      overflow: hidden;
    }
  }
  &__modal-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
}
