$Montserrat: "Montserrat";
$Segoe-UI: "Segoe UI";

$col-white: #fff;
$col-white-2: #e8e8e8;

$col-green-1: #219653;

$col-grey-1: #868686;
$col-grey-2: #e2e2e2;

$col-dark-1: #4b465c;
$col-dark-2: #3c3c3c;
$col-dark-3: #4a4a4a;
$col-dark-4: #303030;
$col-dark-5: #525252;
