$Montserrat: "Montserrat";
$Lobster: "Lobster";

$col-white: #fff;
$col-white-2: #e8e8e8;

$col-green-1: #219653;

$col-grey-1: #868686;
$col-grey-2: #e2e2e2;
$col-grey-3: #e9e9e9;
$col-grey-4: #ebebeb;
$col-grey-5: #dbdade;
$col-grey-6: #5d5d5d;
$col-grey-7: #11142d;

$col-dark-1: #4b465c;
$col-dark-2: #3c3c3c;
$col-dark-3: #4a4a4a;
$col-dark-4: #303030;
$col-dark-5: #525252;
$col-dark-6: #4f4f4f;
$col-dark-7: #37353d;
$col-dark-8: #232323;
$col-dark-9: #202020;
$col-dark-10: #3d3d3d;

$col-blue-1: #f5f5f5;
$col-blue-2: #f2f2f2;

$col-red-1: #ff0033;
