$col-white: #fff;

$col-blue-1: #39cdcc;
$col-blue-2: #213f7d;
$col-blue-3: #f3fcfc;
$col-blue-4: #213f7d80;
$col-blue-5: #fbfbfb;
$col-blue-6: #f5f5f7;
$col-blue-7: #f3fcf6;
$col-blue-8: #fdf7e5;

$col-grey-1: #545f7d;
$col-grey-2: #9ba8c4;
$col-grey-3: #43ff64d9;
$col-grey-4: #dbe0ea;
$col-grey-5: #dddbdd;

$col-success-1: green;
$col-success-2: #39cd62;

$col-error-1: #d32f2f;
$col-error-2: #e4033b;

$col-yellow-1: #e9b200;

$col-black: #000000;
