@import "../../styles/variables";
@import "../../styles/functions.scss";
@import "../../styles/base/mixins";
@import "../../styles/typography";

.donation {
  &__page {
    height: 70vh;
    padding: 0px 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include respond(mobile-screen) {
      padding: 0px;
      height: fit-content;
    }
  }
  &__content {
    &-icon {
      width: 50%;
      height: 100%;
      position: relative;
      @include respond(mobile-screen) {
        display: none;
      }
    }
    &-wrapper {
      display: flex;
      gap: 64px;
      height: 356px;
      width: 100%;
      background: #f2f2f2;
      @include border-radius(39px);
      @include respond(mobile-screen) {
        padding: 80px calc(6%);
        height: 100%;
        width: 100%;
        border-radius: initial;
      }
    }
    &-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 28px;
      padding-right: 56px;
      @include respond(mobile-screen) {
        padding-right: 0px;
      }
    }
    &-heading {
      color: $col-green-1;
      font-size: toRem(32px);
      font-weight: 700;
    }
    &-description {
      @include description;
    }
    &-button {
      @include respond(mobile-screen) {
        display: flex;
        align-items: center;
        justify-content: center;
        & button {
          width: 50%;
          font-size: 16px !important;
        }
      }
    }
  }
  &__modal-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
}
