@import "../../styles/variables";
@import "../../styles/functions.scss";
@import "../../styles/base/mixins";
@import "../../styles/typography";

.about-us {
  height: 90vh;
  //   display: flex;
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  gap: 60px;
  padding: 0px 95px;
  &__image {
    &-wrapper {
      position: relative;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 18px;
    }
    &-container {
      width: fit-content;
      height: fit-content;
      & img {
        position: initial !important;
      }
    }
    &-cross-icon {
      position: absolute;
      left: -9%;
      opacity: 0.25;
      @include z-index(behind);
    }
    &-text {
      color: $col-dark-3;
      width: 100%;
      font-size: toRem(40px);
      font-weight: 600;
      //   line-height: 56px;
    }
  }

  &__description {
    @include description;
    &-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
    }
    &-heading {
      @include heading;
    }
  }
}
