@import "../../styles/variables";
@import "../../styles/functions.scss";
@import "../../styles/base/mixins";
@import "../../styles/typography";

.about-us {
  height: 90vh;
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  gap: 60px;
  padding: 0px 95px;
  @include respond(mobile-screen) {
    height: fit-content;
    padding: 0px 6% 60px 6%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  &__image {
    &-wrapper {
      position: relative;
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 18px;
      @include respond(mobile-screen) {
        gap: 5px;
        height: fit-content;
      }
    }
    &-container {
      width: fit-content;
      height: fit-content;
      & img {
        position: initial !important;
      }
    }
    &-cross-icon {
      position: absolute;
      left: -9%;
      opacity: 0.25;
      @include z-index(behind);
      @include respond(mobile-screen) {
        display: none;
      }
    }
    &-heading {
      display: none;
      @include respond(mobile-screen) {
        display: block;
        @include heading-mobile;
      }
    }
    &-text {
      color: $col-dark-3;
      width: 100%;
      font-size: toRem(40px);
      font-weight: 600;
      @include respond(mobile-screen) {
        font-size: toRem(22px);
        width: 90%;
      }
    }
  }

  &__description {
    @include description;
    &-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      @include respond(mobile-screen) {
        gap: 29px;
        justify-content: initial;
        height: fit-content;
      }
    }
    &-heading {
      @include heading;
      @include respond(mobile-screen) {
        display: none;
      }
    }
  }
}
